In [1]:
import pandas as pd

covid = pd.read_csv('us-states.txt')

covid.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [2]:
covid['state'].unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia'], dtype=object)

In [3]:
state_list = ['Washington', 'New York', 'Massachusetts', 'California', 'Illinois', 'Wisconsin']
covid = covid[covid['state'].isin(state_list)]
covid['state'] = covid['state'].replace({"Washington": "WA", "New York": "NY", "Massachusetts": "MA", "California": "CA", "Illinois": "IL", "Wisconsin": "WI"})

In [4]:
covid['state'].unique()

array(['WA', 'IL', 'CA', 'MA', 'WI', 'NY'], dtype=object)

In [5]:
covid.to_csv('covid_cases.csv', index = False)